[submodule "src/libuv"]
	path = src/libuv
	url = https://github.com/libuv/libuv.git
[submodule "src/duktape-releases"]
	path = src/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
