[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/duktape-releases"]
	path = deps/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
