[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/duktape-releases"]
	path = deps/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/libz"]
	path = deps/libz
	url = https://gitlab.com/sortix/libz.git
